#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #333;
  color: #fff;
}

.square,
.square-winner {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 1rem;
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

.square:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.title {
  color: #fff;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.winner-modal {
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
  width: 70%;
  height: 50%;
  max-width: 800px; /* Limitar el ancho máximo */
  border-radius: 2rem;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
  padding: 1.5rem; /* Espaciado interno */
  text-align: center; /* Centrar el texto horizontalmente */
  font-size: 3rem;
  color: #fff;
}

.current-turn {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.current-turn .square {
  background-color: #747bff;
}

.restart-button {
  background-color: #747bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Borde del botón */
  border-radius: 4px; /* Borde redondeado */
  font-size: 1rem; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  margin-top: 1rem; /* Espaciado superior */
}

.restart-button:hover {
  background-color: #747bff; /* Cambia el color de fondo al pasar el cursor */
  transform: scale(1.05); /* Escala ligeramente el botón al pasar el cursor */
}
